[Unit]
Description=Minecraft Service
After=network.target

[Service]
User=root
Restart=always
Type=simple
WorkingDirectory=/home/minecraftadmin/minecraft
ExecStart=/home/minecraftadmin/minecraft/bedrock_server

[Install]
WantedBy=multi-user.targetg